<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>OTP Verification</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color:#3498db
    }
    .otp-container {
        text-align: center;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(90, 67, 67, 0.1);
    }
    .otp-input {
        width: 40px;
        height: 40px;
        font-size: 20px;
        text-align: center;
        margin: 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }
    h2 {
        color: black;
    }
</style>
</head>
<body>

<div class="otp-container">
    <h2>Enter Your OTP</h2>
    <% if (messages.error) { %>
        <div class="alert alert-danger" style="color: red;">
            <%= messages.error %>
        </div>
    <% } %>
    <form id="otp-form" action='/otp-verifying' method="POST">
    <div>
        <input type="text"  name="otp1" class="otp-input" maxlength="1" onkeyup="moveToNext(this, 'otp2')">
        <input type="text"   name="otp2"class="otp-input" id="otp2" maxlength="1" onkeyup="moveToNext(this, 'otp3')">
        <input type="text"    name="otp3"class="otp-input" id="otp3" maxlength="1" onkeyup="moveToNext(this, 'otp4')">
        <input type="text"     name="otp4"class="otp-input" id="otp4" maxlength="1" onkeyup="moveToNext(this, null)">
    </div>
    <p style="color: #fff;">Didn't receive the OTP? <a href="#" id="resendOtpLink">Resend OTP</a>
    </p>
    <button type="submit">Verify</button>
</div>

<script>
    function moveToNext(input, nextFieldID) {
        if (input.value.length === input.maxLength && nextFieldID) {
            document.getElementById(nextFieldID).focus();
        }
    }
</script>




<script>
    const resendOtpLink = document.getElementById('resendOtpLink');
    
    const resendOtp = async () => {
        try {
            resendOtpLink.removeEventListener('click', resendOtp);
            
            const response = await fetch('/resend-Otp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (!response.ok) {
                throw new Error('Failed to send resend otp');
            }

            const data = await response.json();
            console.log('Resend OTP successful:', data);
        } catch (error) {
            console.error('Error sending resend OTP:', error);
        }
    };

    resendOtpLink.addEventListener('click', resendOtp);
</script>

</body>
</html>
