

<%- include('../layouts/user/header') %>
    
    <!--================login_part Area =================-->
    <section class="login_part " style="height: 100vh;">
        
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>New to our Shop?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                            <a href="/signup" class="btn_3">Create an Account</a>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Welcome Back ! <br>
                                Please Sign in now</h3>
                            <form class="row contact_form" action="/login" method="post" novalidate="novalidate">
                                <div class="col-md-12 form-group p_star">
                                    <input type="email" class="form-control" id="name" name="email" value=""
                                        placeholder="email">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <% if (error) { %>
                                        <p class="text-danger"><%= error %></p>
                                    <% } %>
                                    <input type="password" class="form-control" id="password" name="password" value=""
                                        placeholder="Password">
                                        <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password" style="position:absolute;right:10px;top:12px;cursor:pointer;"></span>

                                        <!--New field for referral code-->
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="referralCode"  name="referralCode"  value=""
                                            placeholder="Referral code(optional)">
                                        </div>

                                       


                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">
                                        <input type="checkbox" id="f-option" name="selector">
                                        <!-- <label for="f-option">Remember me</label> -->
                                    </div>
                                    <button type="submit" value="submit" class="btn_3">
                                        log in
                                    </button>
                                    <a class="lost_pass" href="/forgot">forget password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<style>
    .form-group.p_star#referralCode {
    margin-top: 20px;
}

</style>
    
    <!--================login_part end =================-->
    
    
    <%- include('../layouts/user/footer') %>
    
    <!-- % if (successMessage && successMessage.length > 0 && passwordChanged) { %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

       
        
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: '%= successMessage[0] %>',
            });
        </script>
    % } %> -->
    
    
    
    <script>

    document.querySelectorAll('.toggle-password').forEach(toggle => {
        toggle.addEventListener('click', function() {
            const input = document.querySelector(this.getAttribute('toggle'));
            if (input.type === "password") {
                input.type = "text";
                this.querySelector('i').classList.remove('fa-eye');
                this.querySelector('i').classList.add('fa-eye-slash');
            } else {
                input.type = "password";
                this.querySelector('i').classList.remove('fa-eye-slash');
                this.querySelector('i').classList.add('fa-eye');
            }
        });
    });
</script>