<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> OTP </title>
    <link rel="stylesheet" href="/userAssets/css/otppa.css">
</head>
<body>
    <div class="container">
        <h1>Enter OTP Code</h1>
        <p>Enter the OTP sent to your email</p>
      <!-- otpsending.ejs -->
<% if (messages.error) { %>
    <div class="alert alert-danger" style="color: red;">
        <%= messages.error %>
    </div>
<% } %>

        
            <form id="otp-form" action='/verifyOtp' method="POST">
                <div class="otp-fields">
                    <input type="text" name="otp1" maxlength="1" required onkeyup="moveFocus(this)">
                    <input type="text" name="otp2" maxlength="1" required onkeyup="moveFocus(this)">
                    <input type="text" name="otp3" maxlength="1" required onkeyup="moveFocus(this)">
                    <input type="text" name="otp4" maxlength="1" required onkeyup="moveFocus(this)">
                </div>
                <button type="submit">Verify</button>
                <a href="#" id="resend-otp" class="btn" style="pointer-events: none; color: grey;">Resend OTP</a>
            </form>
            
        <div class="pop-up" id="pop-up">
            <p>Verifying...</p>
            <div class="loader"></div>
        </div>


        <p id="countdown">2:00</p>
    </div>
    <script src="/userAssets/js/script.js"></script>
</body>
</html>


<script>
    document.addEventListener("DOMContentLoaded",function(){
        const resendButton=document.getElementById("resend-otp")
        const countdownElement=document.getElementById("countdown")
        let timeLeft=120

        function updateCountdown() {
            const minutes=Math.floor(timeLeft/60)
            let seconds=timeLeft % 60
            seconds=seconds < 10 ? "0" + seconds : seconds
            countdownElement.textContent=minutes + ":" + seconds
        }
        updateCountdown() 

        function startCountdown() {
            const countdownInterval=setInterval(function () {
                if(timeLeft > 0) {
                    timeLeft--
                    updateCountdown()
                } else{
                    clearInterval(countdownInterval)
                    resendButton.style.pointerEvents='auto'
                    resendButton.style.color=''

                }
            },1000)
        }

        startCountdown()

        resendButton.addEventListener("click",async function (event){
            event.preventDefault()

            try {
                const response=await fetch ("/resend-otp",{
                    method :"POST",
                    headers:{
                        "Content-Type": "application/json"                    }

                })

                if(response.ok){
                    alert("otp resent successfully")          
                    timeLeft=120
                    startCountdown()              
                    resendButton.style.pointerEvents='none'
                    resendButton.style.color='grey'   
                    startCountdown()                                                                                                                            
                }else{
                    throw new Error("Failed to resend otp ")
                }
                
            } catch (error) {
                console.error("Error resending otp:",error)
                alert("Failed to resend otp")
            }
        

        })
    })
</script>
