    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- kit.fontawesome -->
<script src="https://kit.fontawesome.com/0756794e98.js" crossorigin="anonymous"></script>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/userAssets/js/chart.min.js"></script>
<script src="/userAssets/js/easing.min.js"></script>
<script src="/userAssets/js/waypoints.min.js"></script>
<script src="/userAssets/js/owl.carousel.min.js"></script>
<script src="/userAssets/js/moment.min.js"></script>
<script src="/userAssets/js/moment-timezone.min.js"></script>
<script src="/userAssets/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="userAssets/js/admindash.js"></script>

<!--below code is my chart link-->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
</body>

</html>